body{
    background-image: url(../img/shutterstock_252021229-960.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bar{
    height: 50px;
    width: 100%;
    border: 2px  solid rgb(21, 6, 6);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    background-color: rgb(252, 196, 112);~
}
.nav{
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(2, 10, 16);
}
.ma{
    height: 20px;
    width: 20px;
    padding: 50%;
}
.im{
    margin-top: 5px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid black;
}
.sahaya{
   display: block;
}